.orb-container {
  position: fixed;
  z-index: 0;
  top:-10%;
  left:-100%;
  width: 300%;
  height: 300%;
  overflow: hidden;
}
@media(max-width: 768px)  or (max-aspect-ratio:3/4){
  .orb-container{
    right: 70%;
    height: 300%;
    width: 300%;
  }
}
