.orb-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
@media(max-width: 768px)  or (max-aspect-ratio:3/4){
  .orb-container{
    right: 70%;
    height: 300%;
    width: 300%;
  }
}
