html{
  font-family: "Sansation", sans-serif;
  font-weight: 240;
  font-style: normal;
  font-size: 16px;
}
.content{
  border: #ffffff 2px solid;
}
.experience-page{ padding-left: 32px; padding-right: 32px; padding-top: 10%; font-family:system-ui, Arial, sans-serif; background:#000000; }
.experience-title{ text-align:center; font-size:2rem; margin-bottom:32px; }
.timeline{ position:relative; max-width:720px; margin:0 auto; }
.timeline::after{ content:""; position:absolute; width:4.8px; background:#ffffff; top:0; bottom:0; left:50%; margin-left:-2.4px; }
.timeline-item{ position:relative; width:70%; padding:16px 32px; }
.timeline-item.left{ right: 28.5%; }
.logoimage{
  height: 40px;
}
.header{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.date{
  color:#ea00ff;
  font-weight: normal;
}

.timeline-item.right{ left:49.8%; }
.timeline-item .content{ background:#5555; border-radius:8px; padding:20px; box-shadow:0 2px 6px rgba(0,0,0,.1);color:rgb(255, 255, 255); }
.timeline-item::before{ content:""; position:absolute; top:30px; width:20px; height:20px; border-radius:50%; background:#333; border:3px solid #f9f9f9; z-index:1; right:-10px; }
.timeline-item.right::before{ left:-10px; right:auto; }
@media (max-width:768px) and (max-aspect-ration:3/4){
  .timeline::after{ left:50%; z-index: 0; display: none;}
  .timeline-item{ width:100%; left:0 !important; padding-left:0px; padding-right:25px; width: 100%; z-index: 1;}
  .timeline-item::before{ left:10px; right:auto; display: none;}
}