




.image-container{
  --split: clamp(50px, 5vw, 100px);  /* how far they end apart */
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  place-items: center;
  align-items: start;
  padding-top: 10%;
}
.image{ width: min(32vw, 420px); height: auto; z-index:2; border-radius: 8px;}
.text{  z-index:1; text-align: left;
}

.zilla-slab-light {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.name{
    font-size: 50px;
    margin-bottom: 0px;

}

.surname{
    font-size: 50px;

    margin: 0px;
}
.image{
  opacity: 0;
  transform:  translateY(100%);
  animation:
    pop 1s ease-in forwards,
    imgShift 1s 1s ease-out forwards;     /* starts after pop */
}
@keyframes pop{
  to { opacity:1; transform: scale(1) translateX(0); }
}
@keyframes imgShift{
  from { transform: scale(1) translateX(0); }
  to   { transform: scale(1) translateX(var(--split)); }
}

.text{
  opacity: 0;
  transform: translateX(100%);
  animation: textIn 1s 1s ease-out forwards;
}
@keyframes textIn{
  to { opacity:1; transform: translateX(calc(-1 * var(--split))); }
}



